@import "../runo/styles.css";

/*--------- Debug styles ---------*/
.red {
	border: 1px solid red;
}

.blue {
	border: 1px solid blue;
}

.green {
	border: 1px solid green;
}

.yellow {
	border: 1px solid yellow;
}

/*--------- Application styles ---------*/
.title {
	font-size: 22px;
	font-weight: bold;
	font-color: blue;
}

.about-title {
	color: #000;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	font-size: 24px;
	padding-top: 50px;
}

.about {
	color: #000;
	width: 500px;
}

.transparent-frame {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.95);
	padding-left: 30px;
	padding-right: 30px;
	padding-left: 30px;
	box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.3);
}

.header {
	background: #414243 url(img/sidebar-gradient.png) repeat-y top right;
	background: -moz-linear-gradient(left, #5d6167 140px, #393939 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5d6167),
		color-stop(140px, #393939) );
	background: -webkit-linear-gradient(left, #5d6167 0%, #393939 140px);
	background: -o-linear-gradient(left, #5d6167 0%, #393939 140px);
	background: -ms-linear-gradient(left, #5d6167 0%, #393939 140px);
}

.toolbar {
	background: #414243 url(img/sidebar-gradient.png) repeat-y top right;
	background: -moz-linear-gradient(left, #5d6167 0%, #393939 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5d6167),
		color-stop(100%, #393939) );
	background: -webkit-linear-gradient(left, #5d6167 0%, #393939 100%);
	background: -o-linear-gradient(left, #5d6167 0%, #393939 100%);
	background: -ms-linear-gradient(left, #5d6167 0%, #393939 100%);
}

.footer {
	background: #dfe0e1;
	background: -moz-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d9da),
		color-stop(10%, #e6e7e8), color-stop(100%, #e0e1e2) );
	background: -webkit-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
	background: -o-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
	background: -ms-linear-gradient(top, #d8d9da 0%, #e6e7e8 10%, #e0e1e2 100%);
	border-top: 1px solid #666666;
	box-shadow: 0px 3px 8px 0px #666666 inset;
}

.v-caption-logo {
	background: #393939;
}

.perspective-title {
	font-size: 36px;
	line-height: 1;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	letter-spacing: -0.05em;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
	text-align: center;
}

.perspective-content {
	background: #75787c;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100% ), url(img/dark-canvas-bg.jpg);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.2) ), color-stop(100%, rgba(255, 255, 255, 0) ) ),
		url(img/dark-canvas-bg.jpg);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2)
		0%, rgba(255, 255, 255, 0) 100% ), url(img/dark-canvas-bg.jpg);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100% ), url(img/dark-canvas-bg.jpg);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0) 100% ), url(img/dark-canvas-bg.jpg);
}

.perspective-content .v-panel-content {
	border: 1px solid #babfc0;
	border-bottom: 0px solid #dee2e3;
	border-top: 1px solid #dee2e3;
	background-color: #fff;
}

.center-parent {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.center-parent .center-child {
	margin: 0 auto;
}

.toolbar .v-button-selected {
	color: #e1e1e1;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	border-top-color: #262729;
	border-bottom-color: #2b2c2e;
	background: #333537;
	background: -moz-linear-gradient(top, #2d2f30 0%, #333537 10%, #333537 90%, #2d2f30
		100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d2f30),
		color-stop(10%, #333537), color-stop(90%, #333537),
		color-stop(100%, #2d2f30) );
	background: -webkit-linear-gradient(top, #2d2f30 0%, #333537 10%, #333537 90%,
		#2d2f30 100%);
	background: -o-linear-gradient(top, #2d2f30 0%, #333537 10%, #333537 90%, #2d2f30
		100%);
	background: -ms-linear-gradient(top, #2d2f30 0%, #333537 10%, #333537 90%, #2d2f30
		100%);
}

.toolbar .v-button {
	display: block;
	background: transparent;
	border: none;
	color: #888a8c;
	text-align: center; text-decoration : none; text-shadow : 0 1px 0 rgba(
	0, 0, 0, 0.5); padding-top : 5px; padding-bottom : 5px;
	border-top: 1px solid #4b4c4d;
	border-top-color: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid #353637;
	border-bottom-color: rgba(0, 0, 0, 0.18);
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	padding-top: 5px;
	padding-bottom: 5px;
}

.toolbar .v-button img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%);
}

.toolbar .v-button:hover img,.v-button-selected img {
	display: block;
	margin-bottom: 5px;
	filter:
		url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}

.toolbar .v-button span {
	color: #888a8c;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.toolbar .v-button:hover span,.v-button-selected span {
	color: #e1e1e1;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.toolbar .v-button-link .v-button-caption {
	text-decoration: none;
	color: #888a8c;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.toolbar span.v-button-wrap {
	display: inline-block;
}

.toolbar .v-button-link:hover .v-button-caption,.toolbar .v-button-selected .v-button-caption {
	text-decoration: none;
	color: #e1e1e1;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.toolbar .v-button-link:focus {
	outline: 0px;
}